{% for post in posts %}
    {% include "posts/_post.html" with post=post %}
{% endfor %}

{% if posts.has_next %}
    <div 
        hx-trigger="intersect" 
        hx-swap="outerHTML"
        hx-get="
            {% if request.GET.urlencode %}
                {{ request.path }}?{{ request.GET.urlencode }}&page={{ posts.next_page_number }}
            {% else %}
                {{ request.path }}?page={{ posts.next_page_number }}
            {% endif %}
        "
        class="text-center p-4">
        <p class="text-gray-500">Daha fazla yükleniyor...</p>
    </div>
{% endif %}